* {
  margin: 0;
  padding: 0;
}

  body {
    
    background-color:#38343c;
  }

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wv;
    height: 100vh;
    max-height: 100vh;
    padding: 30px 0;
  }

  embed {
    height: 100%;
    width: 100%;
  }

  footer {
    position: fixed;
    bottom:0;
    float:none;
    margin: auto;
    background: url('bois.png');   
  }